img{
    width: 150px;
    border-radius: 50%;
    
}

.card{
    background-color: rgb(245, 190, 200);
    border: none;
    width: 100%;
    height: 100%;
}

@media screen and (min-width:677px)
{
   img{
    width: 100px;
   } 

}